@import url('https://fonts.googleapis.com/css?family=Parisienne|Dosis');

body {
	box-sizing: border-box;
	background-color: #3EECAC;
	background: linear-gradient(to bottom, #43c6ac, #191654) no-repeat fixed center;
	color: #FFFFFF;
}

/*
=== Landing Page ===
*/

.landing, .name {
	display: inline;
}

.cake, .code {
	padding-right: 18px;
	padding-left: 18px;
}

h1.name {
	font-size: 45px;
}

.role {
	font-style: italic;
	font-size: 27px;
	padding-top: 8px;
}

.home {
	text-align: center;
	margin-top: 30%;
	margin-bottom: 45%;
}

/*
==== Navigation Bar ====
*/

nav.navigation {
		padding-top: 10px;
		padding-bottom: 8px;
		overflow: hidden;
		top: 0;
		background-color: #43c6ac; opacity: 0.8;
		width: 100%;
		position: fixed;
		z-index: 100;
}

nav.navigation a {
	color: 	#F0F8FF;
}

h1, .home-link {
	font-family: "Parisienne", sans-serif;
}

a:link {
	text-decoration: none;
	color: #e6e6e6;
}

a:visited {
	text-decoration: none;
}

.nav-items a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.home-link {
	font-size: 40px;
	display: inline;
	padding-top: 20px;
	padding-left: 38px;
}

a.aboutme, a.projects, a.contact {
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
}

.nav-items {
	float: right;
	padding-top: 18px;
	padding-right: 10px;
}



.navigation .icon {
	display: none;
}


/*
====== About Me ======
*/

.about-me {
	margin-top: 45%;
	background: linear-gradient(to top, #4b6cb7, #182848) no-repeat fixed center;
	padding-top: 68px;
	padding-bottom: 68px;
}

h3.about-me-head, h3.skills-head {
	/*margin-left: 42px;*/
	letter-spacing: 1px;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.jane {
	width: 22%;
	float: left;
	margin: 5px 25px 5px 45px;
}

.bio, .bio2 {
	margin-right: 58px;
}

.text-bio {
	font-size: 18px;
	margin: 20px 10px 20px 10px;
}

.code-skills {
	display: inline;
}

.img-container {
	margin-left: 200px;
	/*margin: 0 auto;*/
	padding-left: 11px;
	padding-bottom: 30px;
}

.html, .css, .js,
.jq, .node, .react {
	width: 11%;
	padding-left: 12px;
	padding-right: 12px;
}

/*
==== Projects ====
*/

ul.assignments {

}

.work-display {
	padding-top: 45px;
	padding-bottom: 55px;
	margin: 0 auto;
	background: linear-gradient(to top, #2b5876, #4e4376) no-repeat fixed center;
}

.photomatic, .watchthis {
	width: 38%;
}

.project-head {
	font-size: 28px;
}

.proj-title {
	font-size: 20px;
	padding-top: 17px;
	padding-bottom: 17px;
}


/*
==== Contact ====
*/

.contacts {
	/*margin-top: 40%;
	margin-bottom: 40%;*/
	padding-top: 300px;
	padding-bottom: 300px;
	background: linear-gradient(to bottom, #005c97, #363795) no-repeat fixed center;
}

.icons {
	width: 6%;
	padding-left: 18px;
}
