@import url('https://fonts.googleapis.com/css?family=Parisienne|Dosis');

body {
	box-sizing: border-box;
	/*margin-right: 85px;
	margin-left: 85px;*/
	background-color: #3EECAC;
	background: linear-gradient(to bottom, #43c6ac, #191654) no-repeat fixed center;
	color: #FFFFFF;
}

a {
	color: #e6e6e6;
}

/*
=== Landing Page ===
*/

.landing, .name {
	display: inline;
}

.cake, .code {
	padding-right: 18px;
	padding-left: 18px;
}

h1.name {
	font-size: 45px;
}

.role {
	font-style: italic;
	font-size: 27px;
	padding-top: 8px;
}

.home {
	text-align: center;
	/*width: 88%;*/
	margin: 310px 55px 380px 55px;
}

/*
==== Navigation Bar ====
*/

h1, .home-link {
	font-family: "Parisienne", sans-serif;
}

#navbar {
	color: #e6e6e6;
}

a:link {
	text-decoration: none;
	color: #e6e6e6;
}

a:visited {
	text-decoration: none;
}

.nav-items a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.home-link {
	font-size: 40px;
	display: inline;
	padding-top: 20px;
	padding-left: 38px;
}

a.aboutme, a.projects, a.contact {
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
}

nav {
	box-sizing: inherit;
	display: inline;
	position: fixed;
}

.nav-items {
	float: right;
	padding-top: 18px;
	padding-right: 10px;
}

.navigation {
	padding-top: 10px;
	padding-bottom: 8px;
	overflow: hidden;
	top: 0;
	background-color: #43c6ac; opacity: 0.8;
	width: 100%;
}

.navigation .icon {
	display: none;
}


/*
====== About Me ======
*/

.about-me {
	margin: 120px 0 100px 0;
}

h3.about-me-head, h3.skills-head {
	/*margin-left: 42px;*/
	letter-spacing: 1px;
	font-size: 30px;
	padding-bottom: 20px;
}

.jane {
	width: 22%;
	float: left;
	margin: 5px 25px 5px 45px;
}

.bio, .bio2 {
	margin-right: 58px;
}

.text-bio {
	font-size: 18px;
	margin: 20px 10px 20px 10px;
}

h3

.code-skills {
	display: inline;
}

.img-container {
	margin-left: 85px;
	padding-left: 11px;
}

.html, .css, .js,
.jq, .node, .react {
	width: 11%;
	padding-left: 12px;
	padding-right: 12px;
}

/*
==== Projects ====
*/

.projects {

}

.photomatic, .watchthis {
	width: 38%;
}

.project-head {
	font-size: 28px;
}


/*
==== Contact ====
*/

.icons {
	width: 6%;
	padding-left: 18px;
}

ul.contact-info li {
	display: inline;
	padding: left
}
